<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ERD Diagram Link</title>
</head>
<body>
  <a target="_blank" href="https://lucid.app/publicSegments/view/66066d3a-e8ee-4016-8e49-82580b28b0ea/image.png">Link to ERD Diagram</a>
</body>
</html>